<div class="graphic ci-integration">
  <div class="container">

    <div class="github-checks">

      <div class="header">
        <div class="check-icon">
          {% include graphics/github-check-icon.html %} 
        </div>
        <div class="content">
          <p>All checks have passed</p>
          <p>4 successful checks</p>
        </div>
      </div>

      <div class="checks">
        <div class="check">
          <div class="content">
            {% include graphics/github-check-icon.html %} 
            <img src="/assets/lander/graphics/codeclimate-logo.png" width="20" height="20" />
            <span class="name">Code Climate</span>
            <span class="status">All good!</span>
          </div>
          <div class="link">Details</div>
        </div>
        <div class="check">
          <div class="content">
            {% include graphics/github-check-icon.html %} 
            <img src="/assets/lander/graphics/circleci-logo.png" width="20" height="20" />
            <span class="name">CircleCI</span>
            <span class="status">Tests passed</span>
          </div>
          <div class="link">Details</div>
        </div>
        <div class="check">
          <div class="content">
            {% include graphics/github-check-icon.html %} 
            <img src="/assets/lander/graphics/seed-logo.png" width="20" height="20" />
            <span class="name">Seed</span>
            <span class="status">Deploy successful</span>
          </div>
          <div class="link">Details</div>
        </div>
        <div class="check">
          <div class="content">
            {% include graphics/github-check-icon.html %} 
            <img src="/assets/lander/graphics/seed-logo.png" width="20" height="20" />
            <span class="name">Seed: prod</span>
            <span class="status">Deployed 3 services</span>
          </div>
          <div class="link">Details</div>
        </div>
      </div>

      <div class="footer">
        {% include graphics/github-check-icon.html %} 
        <p>No conflicts with the base branch</p>
      </div>

    </div>

  </div>
</div>

