<div class="graphic environments">
  <div class="container">
    <div class="env">
      <div class="col1">
        <b class="green">&nbsp;</b>
        <div class="copy">
          <p>prod-us</p>
          <p>Deployed 2 days ago</p>
        </div>
      </div>
      <div class="col2">
        <p>us-east-1</p>
        <p>AWS Prod Account</p>
      </div>
    </div>
    <div class="env">
      <div class="col1">
        <b class="green">&nbsp;</b>
        <div class="copy">
          <p>prod-eu</p>
          <p>Deployed 2 days ago</p>
        </div>
      </div>
      <div class="col2">
        <p>eu-central-1</p>
        <p>AWS Prod Account</p>
      </div>
    </div>
    <div class="env">
      <div class="col1">
        <b class="orange">&nbsp;</b>
        <div class="copy">
          <p>qa</p>
          <p>Deploying&hellip;</p>
        </div>
      </div>
      <div class="col2">
        <p>us-east-1</p>
        <p>AWS QA Account</p>
      </div>
    </div>
    <div class="env">
      <div class="col1">
        <b class="red">&nbsp;</b>
        <div class="copy">
          <p>dev</p>
          <p>Deployed 7 mins ago</p>
        </div>
      </div>
      <div class="col2">
        <p>us-east-1</p>
        <p>AWS Dev Account</p>
      </div>
    </div>
    <div class="env">
      <div class="col1">
        <b class="green">&nbsp;</b>
        <div class="copy">
          <p>pr#119</p>
          <p>Deployed 7 hours ago</p>
        </div>
      </div>
      <div class="col2">
        <p>us-east-1</p>
        <p>AWS Dev Account</p>
      </div>
    </div>
    <div class="env">
      <div class="col1">
        <b class="green">&nbsp;</b>
        <div class="copy">
          <p>pr#112</p>
          <p>Deployed 19 hours ago</p>
        </div>
      </div>
      <div class="col2">
        <p>us-east-1</p>
        <p>AWS Dev Account</p>
      </div>
    </div>
    <div class="env">
      <div class="col1">
        <b class="green">&nbsp;</b>
        <div class="copy">
          <p>pr#107</p>
          <p>Deployed 3 days ago</p>
        </div>
      </div>
      <div class="col2">
        <p>us-east-1</p>
        <p>AWS Dev Account</p>
      </div>
    </div>
  </div>
</div>
