<div class="graphic incremental-deploys">
  <div class="container">

    <div class="tag start">
      <hr />
      <span class="separator"></span>
      <span class="copy">Git Commit</span>
    </div>

    <div class="pointer"><hr /></div>

    <div class="phase">
      <div class="service">
        <div class="status">
          <i aria-hidden="true" class="fa fa-check-circle"></i>
          <div class="content">
            <p>resources</p>
            <p>No changes</p>
          </div>
        </div>
      </div>
    </div>

    <div class="pointer middle"><hr /></div>

    <div class="phase">
      <div class="service">
        <div class="status">
          <i aria-hidden="true" class="fa fa-check-circle"></i>
          <div class="content">
            <p>users</p>
            <p>No changes</p>
          </div>
        </div>
      </div>
      <div class="service">
        <div class="status">
          <i aria-hidden="true" class="fa fa-check-circle"></i>
          <div class="content">
            <p>groups</p>
            <p>No changes</p>
          </div>
        </div>
      </div>
      <div class="service deployed">
        <div class="status">
          <i aria-hidden="true" class="fa fa-check-circle"></i>
          <div class="content">
            <p>posts</p>
            <p>Deployed in 10s</p>
          </div>
        </div>
        <div class="lambdas">
          <div class="lambda">
            <b>&nbsp;</b>
            <p class="content">
              &lambda; posts-get
            </p>
          </div>
          <hr />
          <div class="lambda deployed">
            <b>&nbsp;</b>
            <p class="content">
              &lambda; posts-delete
            </p>
          </div>
          <hr />
          <div class="lambda">
            <b>&nbsp;</b>
            <p class="content">
              &lambda; posts-list
            </p>
          </div>
          <hr />
          <div class="lambda deployed">
            <b>&nbsp;</b>
            <p class="content">
              &lambda; posts-share
            </p>
          </div>
          <hr />
          <div class="lambda">
            <b>&nbsp;</b>
            <p class="content">
              &lambda; posts-update
            </p>
          </div>
          <hr />
          <div class="lambda">
            <b>&nbsp;</b>
            <p class="content">
              &lambda; posts-link
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="pointer"><hr /></div>

    <div class="tag end">
      <hr />
      <span class="separator"></span>
      <span class="copy">Deployed in 10s</span>
    </div>

  </div>
</div>

