<div class="graphic issues">
  <div class="container">
    <div class="header">
      <h5>Error</h5>
      <h5>Last 24Hrs</h5>
      <h5>Events</h5>
    </div>
    <div class="body">
      <div class="issue">
        <div class="error">
          <h6>TypeError</h6>
          <p class="desc">Cannot read property 'status' of undefined.</p>
          <p class="lambdas">serverless-stack-prod-notes-create and 1 other</p>
        </div>
        <div class="graph">
          <svg class="recharts-surface" width="130" height="26" viewBox="0 0 130 26" version="1.1">
            <defs>
              <linearGradient id="colorDefault" x1="0" y1="0" x2="0" y2="1">
                <stop offset="5%" stop-color="#BE2F2B" stop-opacity="0.6"></stop>
                <stop offset="95%" stop-color="#BE2F2B" stop-opacity="0.3"></stop>
              </linearGradient>
            </defs>
            <g class="recharts-layer recharts-bar">
              <g class="recharts-layer recharts-bar-rectangles">
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="0.11916666666666666" y="19.5" width="6" height="6.5" radius="0" class="recharts-rectangle" d="M 0.11916666666666666,19.5 h 6 v 6.5 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="7.341388888888889" y="8.666666666666668" width="6" height="17.333333333333332" radius="0" class="recharts-rectangle" d="M 7.341388888888889,8.666666666666668 h 6 v 17.333333333333332 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="14.563611111111111" y="10.833333333333332" width="6" height="15.166666666666668" radius="0" class="recharts-rectangle" d="M 14.563611111111111,10.833333333333332 h 6 v 15.166666666666668 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="21.785833333333336" y="8.666666666666668" width="6" height="17.333333333333332" radius="0" class="recharts-rectangle" d="M 21.785833333333336,8.666666666666668 h 6 v 17.333333333333332 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="29.008055555555558" y="6.5" width="6" height="19.5" radius="0" class="recharts-rectangle" d="M 29.008055555555558,6.5 h 6 v 19.5 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="36.23027777777778" y="17.333333333333336" width="6" height="8.666666666666664" radius="0" class="recharts-rectangle" d="M 36.23027777777778,17.333333333333336 h 6 v 8.666666666666664 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="43.4525" y="15.166666666666664" width="6" height="10.833333333333336" radius="0" class="recharts-rectangle" d="M 43.4525,15.166666666666664 h 6 v 10.833333333333336 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="50.67472222222222" y="8.666666666666668" width="6" height="17.333333333333332" radius="0" class="recharts-rectangle" d="M 50.67472222222222,8.666666666666668 h 6 v 17.333333333333332 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" height="26" x="57.89694444444444" y="0" width="6" radius="0" class="recharts-rectangle" d="M 57.89694444444444,0 h 6 v 26 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="65.11916666666667" y="10.833333333333332" width="6" height="15.166666666666668" radius="0" class="recharts-rectangle" d="M 65.11916666666667,10.833333333333332 h 6 v 15.166666666666668 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="72.3413888888889" y="13" width="6" height="13" radius="0" class="recharts-rectangle" d="M 72.3413888888889,13 h 6 v 13 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="79.56361111111111" y="8.666666666666668" width="6" height="17.333333333333332" radius="0" class="recharts-rectangle" d="M 79.56361111111111,8.666666666666668 h 6 v 17.333333333333332 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="86.78583333333334" y="13" width="6" height="13" radius="0" class="recharts-rectangle" d="M 86.78583333333334,13 h 6 v 13 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="94.00805555555556" y="2.166666666666668" width="6" height="23.833333333333332" radius="0" class="recharts-rectangle" d="M 94.00805555555556,2.166666666666668 h 6 v 23.833333333333332 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="101.23027777777779" y="17.333333333333336" width="6" height="8.666666666666664" radius="0" class="recharts-rectangle" d="M 101.23027777777779,17.333333333333336 h 6 v 8.666666666666664 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="108.4525" y="13" width="6" height="13" radius="0" class="recharts-rectangle" d="M 108.4525,13 h 6 v 13 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="115.67472222222223" y="6.5" width="6" height="19.5" radius="0" class="recharts-rectangle" d="M 115.67472222222223,6.5 h 6 v 19.5 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="122.89694444444446" y="15.166666666666664" width="6" height="10.833333333333336" radius="0" class="recharts-rectangle" d="M 122.89694444444446,15.166666666666664 h 6 v 10.833333333333336 h -6 Z"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="events">1.5k</div>
      </div>
      <div class="issue">
        <div class="error">
          <h6>BadRequestException</h6>
          <p class="desc">The name you provided already exists.</p>
          <p class="lambdas">serverless-stack-prod-notes-get and 4 others</p>
        </div>
        <div class="graph">
          <svg class="recharts-surface" width="130" height="26" viewBox="0 0 130 26" version="1.1">
            <defs>
              <linearGradient id="colorDefault" x1="0" y1="0" x2="0" y2="1">
                <stop offset="5%" stop-color="#BE2F2B" stop-opacity="0.6"></stop>
                <stop offset="95%" stop-color="#BE2F2B" stop-opacity="0.3"></stop>
              </linearGradient>
            </defs>
            <g class="recharts-layer recharts-bar">
              <g class="recharts-layer recharts-bar-rectangles">
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="0.11916666666666666" y="23.263157894736842" width="6" height="2.7368421052631575" radius="0" class="recharts-rectangle" d="M 0.11916666666666666,23.263157894736842 h 6 v 2.7368421052631575 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="7.341388888888889" y="15.05263157894737" width="6" height="10.94736842105263" radius="0" class="recharts-rectangle" d="M 7.341388888888889,15.05263157894737 h 6 v 10.94736842105263 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="14.563611111111111" y="10.94736842105263" width="6" height="15.05263157894737" radius="0" class="recharts-rectangle" d="M 14.563611111111111,10.94736842105263 h 6 v 15.05263157894737 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="21.785833333333336" y="5.473684210526315" width="6" height="20.526315789473685" radius="0" class="recharts-rectangle" d="M 21.785833333333336,5.473684210526315 h 6 v 20.526315789473685 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="29.008055555555558" y="13.684210526315791" width="6" height="12.315789473684209" radius="0" class="recharts-rectangle" d="M 29.008055555555558,13.684210526315791 h 6 v 12.315789473684209 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="36.23027777777778" y="20.526315789473685" width="6" height="5.473684210526315" radius="0" class="recharts-rectangle" d="M 36.23027777777778,20.526315789473685 h 6 v 5.473684210526315 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="43.4525" y="19.157894736842106" width="6" height="6.842105263157894" radius="0" class="recharts-rectangle" d="M 43.4525,19.157894736842106 h 6 v 6.842105263157894 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="50.67472222222222" y="21.89473684210526" width="6" height="4.10526315789474" radius="0" class="recharts-rectangle" d="M 50.67472222222222,21.89473684210526 h 6 v 4.10526315789474 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="57.89694444444444" y="23.263157894736842" width="6" height="2.7368421052631575" radius="0" class="recharts-rectangle" d="M 57.89694444444444,23.263157894736842 h 6 v 2.7368421052631575 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="65.11916666666667" y="16.421052631578945" width="6" height="9.578947368421055" radius="0" class="recharts-rectangle" d="M 65.11916666666667,16.421052631578945 h 6 v 9.578947368421055 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="72.3413888888889" y="12.31578947368421" width="6" height="13.68421052631579" radius="0" class="recharts-rectangle" d="M 72.3413888888889,12.31578947368421 h 6 v 13.68421052631579 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="79.56361111111111" y="9.578947368421053" width="6" height="16.421052631578945" radius="0" class="recharts-rectangle" d="M 79.56361111111111,9.578947368421053 h 6 v 16.421052631578945 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="86.78583333333334" y="8.210526315789473" width="6" height="17.789473684210527" radius="0" class="recharts-rectangle" d="M 86.78583333333334,8.210526315789473 h 6 v 17.789473684210527 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="94.00805555555556" y="5.473684210526315" width="6" height="20.526315789473685" radius="0" class="recharts-rectangle" d="M 94.00805555555556,5.473684210526315 h 6 v 20.526315789473685 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="101.23027777777779" y="17.789473684210527" width="6" height="8.210526315789473" radius="0" class="recharts-rectangle" d="M 101.23027777777779,17.789473684210527 h 6 v 8.210526315789473 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="108.4525" y="4.105263157894738" width="6" height="21.89473684210526" radius="0" class="recharts-rectangle" d="M 108.4525,4.105263157894738 h 6 v 21.89473684210526 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" height="26" x="115.67472222222223" y="0" width="6" radius="0" class="recharts-rectangle" d="M 115.67472222222223,0 h 6 v 26 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="122.89694444444446" y="5.473684210526315" width="6" height="20.526315789473685" radius="0" class="recharts-rectangle" d="M 122.89694444444446,5.473684210526315 h 6 v 20.526315789473685 h -6 Z"></path>
                </g>
              </g>
            </g>
          </svg>
          <div class="tooltip-wrapper">
            <div class="tip">
              <div class="duration">
                <p class="hour">3:40 AM — 4:59 AM</p>
              </div>
              <p class="count"><label>Errors</label><span>52</span></p>
            </div>
          </div>
        </div>
        <div class="events">781</div>
      </div>
      <div class="issue">
        <div class="error">
          <h6>Lambda Timeout Error</h6>
          <p class="desc">Lambda timed out after 10.01 seconds.</p>
          <p class="lambdas">serverless-stack-prod-notes-create</p>
        </div>
        <div class="graph">
          <svg class="recharts-surface" width="130" height="26" viewBox="0 0 130 26" version="1.1">
            <defs>
              <linearGradient id="colorDefault" x1="0" y1="0" x2="0" y2="1">
                <stop offset="5%" stop-color="#BE2F2B" stop-opacity="0.6"></stop>
                <stop offset="95%" stop-color="#BE2F2B" stop-opacity="0.3"></stop>
              </linearGradient>
            </defs>
            <g class="recharts-layer recharts-bar">
              <g class="recharts-layer recharts-bar-rectangles">
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="0.11916666666666666" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 0.11916666666666666,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="7.341388888888889" y="13" width="6" height="13" radius="0" class="recharts-rectangle" d="M 7.341388888888889,13 h 6 v 13 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="14.563611111111111" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 14.563611111111111,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="21.785833333333336" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 21.785833333333336,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="29.008055555555558" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 29.008055555555558,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="36.23027777777778" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 36.23027777777778,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="43.4525" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 43.4525,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="50.67472222222222" y="23.833333333333332" width="6" height="2.166666666666668" radius="0" class="recharts-rectangle" d="M 50.67472222222222,23.833333333333332 h 6 v 2.166666666666668 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" height="26" x="57.89694444444444" y="0" width="6" radius="0" class="recharts-rectangle" d="M 57.89694444444444,0 h 6 v 26 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="65.11916666666667" y="10.833333333333332" width="6" height="15.166666666666668" radius="0" class="recharts-rectangle" d="M 65.11916666666667,10.833333333333332 h 6 v 15.166666666666668 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="72.3413888888889" y="23.833333333333332" width="6" height="2.166666666666668" radius="0" class="recharts-rectangle" d="M 72.3413888888889,23.833333333333332 h 6 v 2.166666666666668 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="79.56361111111111" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 79.56361111111111,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="86.78583333333334" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 86.78583333333334,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="94.00805555555556" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 94.00805555555556,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="101.23027777777779" y="13" width="6" height="13" radius="0" class="recharts-rectangle" d="M 101.23027777777779,13 h 6 v 13 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="108.4525" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 108.4525,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="115.67472222222223" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 115.67472222222223,25 h 6 v 1 h -6 Z"></path>
                </g>
                <g class="recharts-layer recharts-bar-rectangle">
                  <path fill="url(#colorDefault)" x="122.89694444444446" y="25" width="6" height="1" radius="0" class="recharts-rectangle" d="M 122.89694444444446,25 h 6 v 1 h -6 Z"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="events">23</div>
      </div>
    </div>
  </div>
</div>
