<div class="graphic logs">
  <div class="logs-panel">
    <div class="log-entry">
      <div class="summary warn">
        <span class="caret right"></span>
        <div class="contents">
          <div class="level">warn</div>
          <div class="time">07:00:06</div>
          <div class="duration">43.79 ms</div>
          <div class="memory">219 MB</div>
          <div class="text">RequestId: 29f97449-b24a-4fdf-8f02-cf031fd4cc42 Lambda invoked</div>
        </div>
      </div>
    </div>
    <div class="log-entry expanded">
      <div class="summary info">
        <span class="caret down"></span>
        <div class="contents">
          <div class="level">info</div>
          <div class="time">07:00:26</div>
          <div class="duration">8.31 ms</div>
          <div class="memory">219 MB</div>
          <div class="text">RequestId: 5ef5fe9b-114b-4ef1-a28a-a17299c63820 Lambda invoked</div>
        </div>
      </div>
      <div class="details">
        <div class="controls">
          <h5>Details</h5>
          <div>
            <span class="link">
              <i aria-hidden="true" class="fa fa-link"></i>Permalink
            </span>
          </div>
        </div>
        <div class="logs">
          <div class="log">
            <p>07:00:26</p>
            <div class="message">
              <pre>START RequestId: 5ef5fe9b-114b-4ef1-a28a-a17299c63820 Version: $LATEST</pre>
            </div>
          </div>
          <div class="divider"></div>
          <div class="log">
            <p>07:00:26</p>
            <div class="message">
              <pre>2020-03-17T07:00:26.787Z	INFO	Lambda invoked</pre>
            </div>
          </div>
          <div class="divider"></div>
          <div class="log">
            <p>07:00:26</p>
            <div class="message">
              <pre>2020-03-17T07:00:26.787Z	INFO	Lambda processing started</pre>
            </div>
          </div>
          <div class="divider"></div>
          <div class="log">
            <p>07:00:26</p>
            <div class="message">
              <pre>END RequestId: 5ef5fe9b-114b-4ef1-a28a-a17299c63820</pre>
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="log-entry">
      <div class="summary error">
        <span class="caret right"></span>
        <div class="contents">
          <div class="level">error</div>
          <div class="time">07:00:31</div>
          <div class="duration">110.80 ms</div>
          <div class="memory">219 MB</div>
          <div class="text">Runtime.UnhandledPromiseRejection: Error: serverless-cd-api-prod-github_hook - 1019</div>
        </div>
      </div>
    </div>
    <div class="log-entry">
      <div class="summary info">
        <span class="caret right"></span>
        <div class="contents">
          <div class="level">info</div>
          <div class="time">07:00:38</div>
          <div class="duration">2.78 ms</div>
          <div class="memory">219 MB</div>
          <div class="text">RequestId: 8fc0b7a0-5244-4fa2-9e34-39e3d173052a Lambda invoked</div>
        </div>
      </div>
    </div>
    <div class="log-entry">
      <div class="summary info">
        <span class="caret right"></span>
        <div class="contents">
          <div class="level">info</div>
          <div class="time">07:00:50</div>
          <div class="duration">6.43 ms</div>
          <div class="memory">160 MB</div>
          <div class="text">RequestId: 8784199b-d122-406b-9d1c-2b1cece61ad7 Lambda invoked</div>
        </div>
      </div>
    </div>
    <div class="log-entry">
      <div class="summary info">
        <span class="caret right"></span>
        <div class="contents">
          <div class="level">info</div>
          <div class="time">07:00:59</div>
          <div class="duration">3.12 ms</div>
          <div class="memory">168 MB</div>
          <div class="text">RequestId: b7abc673-7358-4dff-b317-fe844fafe4ac Lambda invoked</div>
        </div>
      </div>
    </div>
    <div class="log-entry">
      <div class="summary info">
        <span class="caret right"></span>
        <div class="contents">
          <div class="level">info</div>
          <div class="time">07:01:01</div>
          <div class="duration">3.00 ms</div>
          <div class="memory">168 MB</div>
          <div class="text">RequestId: ced4eabf-0461-41e8-bd9c-6e98a682805e Lambda invoked</div>
        </div>
      </div>
    </div>

  </div>
</div>
