<div class="graphic metrics">
  <div class="container">
    <div class="header">
      <h5>Latency</h5>
      <h5>Errors</h5>
    </div>
    <div>
      <div class="metric">
        <div class="name">
          <span>
            <b>&nbsp;</b>
            <span>API</span>&nbsp;
            <i aria-hidden="true" class="fa fa-angle-right"></i>main-prod
          </span>
          <span>api.serverless-stack.com</span>
        </div>
        <div class="values">
          <span class="latency">
            <span width="65" height="18">
              <svg viewBox="0 0 65 18" preserveAspectRatio="none">
                <g>
                  <circle cx="2" cy="3.564245810055866" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="10.714285714285714" cy="2.2737430167597763" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="19.428571428571427" cy="2" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="28.14285714285714" cy="6.223463687150838" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="36.857142857142854" cy="14.396648044692737" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="45.57142857142857" cy="16" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="54.28571428571428" cy="15.335195530726256" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="62.99999999999999" cy="14.005586592178771" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <polyline points="2 3.564245810055866 10.714285714285714 2.2737430167597763 19.428571428571427 2 28.14285714285714 6.223463687150838 36.857142857142854 14.396648044692737 45.57142857142857 16 54.28571428571428 15.335195530726256 62.99999999999999 14.005586592178771 62.99999999999999 16 2 16 2 3.564245810055866" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></polyline>
                  <polyline points="2 3.564245810055866 10.714285714285714 2.2737430167597763 19.428571428571427 2 28.14285714285714 6.223463687150838 36.857142857142854 14.396648044692737 45.57142857142857 16 54.28571428571428 15.335195530726256 62.99999999999999 14.005586592178771" style="stroke: rgb(157,150,185); stroke-width: 1px; stroke-linejoin: round; stroke-linecap: round; fill: none;"></polyline>
                </g>
              </svg>
            </span>
            <span>439 ms</span>
          </span>
          <span class="errors">
            <span width="65" height="18">
              <svg viewBox="0 0 65 18" preserveAspectRatio="none">
                <g>
                  <circle cx="2" cy="15.977861306526346" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="10.714285714285714" cy="16" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="19.428571428571427" cy="2" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="28.14285714285714" cy="15.222024233378766" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="36.857142857142854" cy="15.860071209427925" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="45.57142857142857" cy="15.877810676332643" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="54.28571428571428" cy="14.871921053898957" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="62.99999999999999" cy="8.927761450654508" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <polyline points="2 15.977861306526346 10.714285714285714 16 19.428571428571427 2 28.14285714285714 15.222024233378766 36.857142857142854 15.860071209427925 45.57142857142857 15.877810676332643 54.28571428571428 14.871921053898957 62.99999999999999 8.927761450654508 62.99999999999999 16 2 16 2 15.977861306526346" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></polyline>
                  <polyline points="2 15.977861306526346 10.714285714285714 16 19.428571428571427 2 28.14285714285714 15.222024233378766 36.857142857142854 15.860071209427925 45.57142857142857 15.877810676332643 54.28571428571428 14.871921053898957 62.99999999999999 8.927761450654508" style="stroke: rgb(157,150,185); stroke-width: 1px; stroke-linejoin: round; stroke-linecap: round; fill: none;"></polyline>
                </g>
              </svg>
            </span>
            <span>544</span>
          </span>
        </div>
      </div>
      <div class="metric">
        <div class="name">
          <span>
            <b class="green">&nbsp;</b>
            <span>Lambda</span>&nbsp;
            <i aria-hidden="true" class="fa fa-angle-right"></i>createNote
          </span>
          <span>notes-prod-createNote</span>
        </div>
        <div class="values">
          <span class="latency">
            <span width="65" height="18">
              <svg viewBox="0 0 65 18" preserveAspectRatio="none">
                <g>
                  <circle cx="2" cy="16" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="10.714285714285714" cy="2" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="19.428571428571427" cy="2.56" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="28.14285714285714" cy="14.88" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="36.857142857142854" cy="12.080000000000002" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="45.57142857142857" cy="12.64" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="54.28571428571428" cy="3.12" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="62.99999999999999" cy="8.72" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <polyline points="2 16 10.714285714285714 2 19.428571428571427 2.56 28.14285714285714 14.88 36.857142857142854 12.080000000000002 45.57142857142857 12.64 54.28571428571428 3.12 62.99999999999999 8.72 62.99999999999999 16 2 16 2 16" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></polyline>
                  <polyline points="2 16 10.714285714285714 2 19.428571428571427 2.56 28.14285714285714 14.88 36.857142857142854 12.080000000000002 45.57142857142857 12.64 54.28571428571428 3.12 62.99999999999999 8.72" style="stroke: rgb(157,150,185); stroke-width: 1px; stroke-linejoin: round; stroke-linecap: round; fill: none;"></polyline>
                </g>
              </svg>
            </span>
            <span>141 ms</span>
          </span>
          <span class="errors">
            <span class="empty" width="65" height="1"></span>
            <span>0</span>
          </span>
        </div>
      </div>
      <div class="metric">
        <div class="name">
          <span>
            <b class="green">&nbsp;</b>
            <span>Lambda</span>&nbsp;
            <i aria-hidden="true" class="fa fa-angle-right"></i>getNote
          </span>
          <span>notes-prod-getNote</span>
        </div>
        <div class="values">
          <span class="latency">
            <span width="65" height="18">
              <svg viewBox="0 0 65 18" preserveAspectRatio="none">
                <g>
                  <circle cx="2" cy="4.9840294840294845" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="10.714285714285714" cy="16" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="19.428571428571427" cy="15.948402948402949" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="28.14285714285714" cy="2" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="36.857142857142854" cy="3.418918918918919" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="45.57142857142857" cy="3.100737100737101" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="54.28571428571428" cy="3.4361179361179364" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="62.99999999999999" cy="4.124078624078624" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <polyline points="2 4.9840294840294845 10.714285714285714 16 19.428571428571427 15.948402948402949 28.14285714285714 2 36.857142857142854 3.418918918918919 45.57142857142857 3.100737100737101 54.28571428571428 3.4361179361179364 62.99999999999999 4.124078624078624 62.99999999999999 16 2 16 2 4.9840294840294845" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></polyline>
                  <polyline points="2 4.9840294840294845 10.714285714285714 16 19.428571428571427 15.948402948402949 28.14285714285714 2 36.857142857142854 3.418918918918919 45.57142857142857 3.100737100737101 54.28571428571428 3.4361179361179364 62.99999999999999 4.124078624078624" style="stroke: rgb(157,150,185); stroke-width: 1px; stroke-linejoin: round; stroke-linecap: round; fill: none;"></polyline>
                </g>
              </svg>
            </span>
            <span>691 ms</span>
          </span>
          <span class="errors">
            <span class="empty" width="65" height="1"></span>
            <span>0</span>
          </span>
        </div>
      </div>
      <div class="metric">
        <div class="name">
          <span>
            <b class="green">&nbsp;</b>
            <span>Lambda</span>&nbsp;
            <i aria-hidden="true" class="fa fa-angle-right"></i>deleteNote
          </span>
          <span>notes-prod-deleteNote</span>
        </div>
        <div class="values">
          <span class="latency">
            <span width="65" height="18">
              <svg viewBox="0 0 65 18" preserveAspectRatio="none">
                <g>
                  <circle cx="2" cy="2" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="10.714285714285714" cy="15.949397590361446" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="19.428571428571427" cy="15.949397590361446" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="28.14285714285714" cy="16" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="36.857142857142854" cy="5.32289156626506" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="45.57142857142857" cy="4.142168674698795" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="54.28571428571428" cy="4.260240963855422" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <circle cx="62.99999999999999" cy="15.797590361445783" r="2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></circle>
                  <polyline points="2 2 10.714285714285714 15.949397590361446 19.428571428571427 15.949397590361446 28.14285714285714 16 36.857142857142854 5.32289156626506 45.57142857142857 4.142168674698795 54.28571428571428 4.260240963855422 62.99999999999999 15.797590361445783 62.99999999999999 16 2 16 2 2" style="stroke: none; stroke-width: 0px; fill-opacity: 0.1; fill: none; pointer-events: auto;"></polyline>
                  <polyline points="2 2 10.714285714285714 15.949397590361446 19.428571428571427 15.949397590361446 28.14285714285714 16 36.857142857142854 5.32289156626506 45.57142857142857 4.142168674698795 54.28571428571428 4.260240963855422 62.99999999999999 15.797590361445783" style="stroke: rgb(157,150,185); stroke-width: 1px; stroke-linejoin: round; stroke-linecap: round; fill: none;"></polyline>
                </g>
              </svg>
            </span>
            <span>442 ms</span>
          </span>
          <span class="errors">
            <span class="empty" width="65" height="1"></span>
            <span>0</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
