<div class="graphic mini-pipeline">
  <div class="container">
    <div class="connector rectangle"></div>
    <div class="connector line"></div>
    <div class="repo">
      <i aria-hidden="true" class="fa fa-github"></i>
      <span>acme/serverless-app</span>
    </div>
    <div class="table">
      <div class="part">
        <div class="title">
          <h5>Dev</h5>
          <i aria-hidden="true" class="fa fa-arrow-right"></i>
        </div>
        <div class="body">
          <div class="cell">
            <div class="title">
              <span class="name">Dev</span>
              <span class="promote">Promote</span>
            </div>
            <div class="status">
              <i aria-hidden="true" class="fa fa-cog fa-spin"></i>
              <div>
                <p class="line-1">
                  <span class="id">v3</span>
                  <span class="date">Moments ago</span>
                </p>
                <p class="line-2">
                  <span class="branch">
                    <i aria-hidden="true" class="fa fa-code-fork"></i>dev
                  </span>
                  <span class="commit">1a266a5</span>
                </p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="title">
              <span class="name">PR#2</span>
              <span class="promote">Promote</span>
            </div>
            <div class="status">
              <i aria-hidden="true" class="fa fa-times-circle"></i>
              <div>
                <p class="line-1">
                  <span class="id">v1</span>
                  <span class="date">3 hours ago</span>
                </p>
                <p class="line-2">
                  <span class="branch">
                    <i aria-hidden="true" class="fa fa-code-fork"></i>pr#2
                  </span>
                  <span class="commit">fba4145</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="part">
        <div class="title">
          <h5>Staging</h5>
          <i aria-hidden="true" class="fa fa-arrow-right"></i>
        </div>
        <div class="body">
          <div class="cell">
            <div class="title">
              <span class="name">QA</span>
              <span class="promote">Promote</span>
            </div>
            <div class="status">
              <i aria-hidden="true" class="fa fa-check-circle"></i>
              <div>
                <p class="line-1">
                  <span class="id">v2</span>
                  <span class="date">6 hours ago</span>
                </p>
                <p class="line-2">
                  <span class="branch">
                    <i aria-hidden="true" class="fa fa-code-fork"></i>master
                  </span>
                  <span class="commit">4937dcd</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="part">
        <div class="title">
          <h5>Production</h5>
        </div>
        <div class="body">
          <div class="cell prod">
            <div class="title">
              <span class="name">Prod</span>
              <span class="region">us-east-1</span>
            </div>
            <div class="status">
              <i aria-hidden="true" class="fa fa-check-circle"></i>
              <div>
                <p class="line-1">
                  <span class="id">v2</span>
                  <span class="date">15 minutes ago</span>
                </p>
                <p class="line-2">
                  <span class="branch">
                    <i aria-hidden="true" class="fa fa-code-fork"></i>master
                  </span>
                  <span class="commit">4937dcd</span>
                </p>
              </div>
            </div>
          </div>
          <div class="cell prod">
            <div class="title">
              <span class="name">Prod</span>
              <span class="region">eu-central-1</span>
            </div>
            <div class="status">
              <i aria-hidden="true" class="fa fa-check-circle"></i>
              <div>
                <p class="line-1">
                  <span class="id">v1</span>
                  <span class="date">2 hours ago</span>
                </p>
                <p class="line-2">
                  <span class="branch">
                    <i aria-hidden="true" class="fa fa-code-fork"></i>master
                  </span>
                  <span class="commit">8bc8ccf</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
