<div class="graphic resources">
  <div class="api">
    <div class="header">
      <h4>users</h4>
    </div>
    <ul class="endpoint">
      <li class="resource api">
        <div>
          <p class="name">api.serverless-stack.com</p>
        </div>
        <div>
          <span class="link">Access Logs</span>
          <span class="separator">|</span>
          <span class="link">Metrics</span>
        </div>
      </li>
    </ul>
    <div class="separator">
      <hr />
      <h5>Lambdas</h5>
    </div>
    <ul class="lambdas">
      <li class="resource lambda">
        <div>
          <p class="tag">GET</p>
          <p class="name">/users</p>
          <p class="info">prod-listUsers</p>
        </div>
        <div>
          <span class="link">Logs</a>
          <span class="separator">|</span>
          <span class="link">Metrics</span>
        </div>
      </li>
      <li class="resource lambda">
        <div>
          <p class="tag">POST</p>
          <p class="name">/users/{id}</p>
          <p class="info">prod-createUser</p>
        </div>
        <div>
          <span class="link">Logs</a>
          <span class="separator">|</span>
          <span class="link">Metrics</span>
        </div>
      </li>
      <li class="resource lambda">
        <div>
          <p class="tag">DELETE</p>
          <p class="name">/users/{id}</p>
          <p class="info">prod-deleteUser</p>
        </div>
        <div>
          <span class="link">Logs</a>
          <span class="separator">|</span>
          <span class="link">Metrics</span>
        </div>
      </li>
      <li class="resource lambda">
        <div>
          <p class="tag">PATCH</p>
          <p class="name">/users/{id}/groups/{groupId}</p>
          <p class="info">prod-updateGroup</p>
        </div>
        <div>
          <span class="link">Logs</a>
          <span class="separator">|</span>
          <span class="link">Metrics</span>
        </div>
      </li>
    </ul>
    <div class="pseudo-layer"></div>
    <div class="pseudo-layer"></div>
    <div class="pseudo-layer"></div>
    <div class="pseudo-layer"></div>
  </div>
</div>
