---
layout: lander
---

<div class="header">
  <a class="announcement" href="{% link _posts/2020-10-14-free-cdk-deployments-in-seed.md %}">
    <span>
      <span class="label">New</span>
      &mdash;
      <span class="content">
        Free CDK Deployments in Seed
      </span>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
  </a>
  <div class="hero-container">
    <div class="hero">
      <div class="copy">
        <h1>For ambitious startups building with Serverless</h1>
        <h3>Seed helps your team manage environments, git push to deploy, and sends you error alerts for your Serverless apps.</h3>
        <div class="controls">
          <div class="col1">
            <a class="signup" {% include signup-link.html %}>
              Try Seed for free
            </a>
            <p>Free forever. No credit card required.</p>
          </div>
          <a class="customers" href="#customers">
            Meet our happy customers <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="graphic-container">
        <div class="graphic">
          <div class="wallpaper"></div>
          <div class="browser">
           <div class="bar"> <span></span> <span></span> <span></span> </div>
           <img src="/assets/lander/seed-console-screenshot.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">

  <h4 class="opening">Are you building a Serverless Framework app on AWS? Here’s how Seed can make your life a lot easier.</h4>

  <hr />

  <div class="feature">
    {% include graphics/environments.html %}
    <div class="body">
      <div class="header">
        <h2>Manage your environments</h2>
        <p>Create and manage your team&apos;s dev, staging, and production environments.</p>
      </div>
      <ul class="points">
        <li>
          <div class="icon">
            <i class="fa fa-th" aria-hidden="true"></i>
          </div>
          <div class="copy">
            <h5>Environments to match the way you work</h5>
            <p>You are trying to manage a couple of environments for your team. They might be in different AWS accounts. Or they might be deployed to multiple regions. Seed will help you set it up exactly the way you want.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </div>
          <div class="copy">
            <h5>Preview environments made easy</h5>
            <p>Seed can automatically create a new environment when a pull request is created. And when you close that PR, it'll tear down the environment as well. Perfect for testing that new feature you've been working on.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="feature">
    {% include graphics/mini-pipeline.html %}
    <div class="body">
      <div class="header">
        <h2>Git push to deploy</h2>
        <p>Seed is a fully-configured CI/CD pipeline for Serverless apps.</p>
      </div>
      <ul class="points">
        <li>
          <div class="icon">
            <i class="fa fa-code-fork" aria-hidden="true"></i>
          </div>
          <div class="copy">
            <h5>Ready-to-use Git workflow</h5>
            <p>Don't spend a whole week trying to set up your CI/CD pipeline. Seed supports all the standard Git-based workflows out-of-the-box. Simply connect your Git repo and you are ready to deploy.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-folder" aria-hidden="true"></i>
          </div>
          <div class="copy">
            <h5>Built for monorepo apps</h5>
            <p>Deploying monorepo apps with a handful of services can be slow and awkward. Not with Seed. It’ll deploy all your services concurrently. While skipping the ones that haven’t been updated.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="feature">
    {% include graphics/issues.html %}
    <div class="body">
      <div class="header">
        <h2>Real-time Lambda alerts<span>New</span></h2>
        <p>Get alerts through Slack or email when something goes wrong.</p>
      </div>
      <ul class="points">
        <li>
          <div class="icon">
            <i class="fa fa-flash" aria-hidden="true"></i>
          </div>
          <div class="copy">
            <h5>Nothing to install</h5>
            <p>Just `console.error` to report an error! There are no 3rd party SDKs, agents, or libraries to install. It's completely native. And it detects all Lambda failures. Including timeouts and out of memory errors.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <div class="copy">
            <h5>Free and unlimited</h5>
            <p>Being able to monitor your Lambda functions is essential to building great Serverless apps. Which is why it's available for free on Seed. You shouldn't have to pay more for monitoring than your entire Serverless infrastructure!</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<div id="customers" class="testimonials">
  <div class="customers">
    <a class="kovi" href="https://www.kovi.com.br">
      <img src="/assets/lander/kovi.png" width="130" />
    </a>
    <a class="freelancer" href="https://www.freelancer.com">
      <img src="/assets/lander/freelancer.png" width="148" />
    </a>
    <a class="kasa" href="https://kasa.com">
      <img src="/assets/lander/kasa.png" width="100" />
    </a>
    <a class="mozilla" href="https://www.mozilla.org">
      <img src="/assets/lander/mozilla.png" width="120" />
    </a>
    <a class="splunk" href="https://www.splunk.com">
      <img src="/assets/lander/splunk.png" width="124" />
    </a>
    <a class="essensys" href="https://essensys.tech">
      <img src="/assets/lander/essensys.png" width="120" />
    </a>
    <a class="shyft" href="https://www.myshyft.com">
      <img src="/assets/lander/shyft.png" width="92" />
    </a>
  </div>
  <div class="list">
    <div class="testimonial">
      <p>&ldquo;Seed allows us to build great products while saving time and money. Just like the idea of serverless, Seed lets us focus on what really matters — business value &amp; product. My team can promote their code in minutes. And the best thing about Seed is that there's nothing to worry about.&rdquo;</p>
      <div class="person">
        <img src="/assets/lander/testimonials/junior.jpeg" />
        <div class="info">
          <p>Júnior Ferreira</p>
          <p>Tech Lead, <a target="_blank" href="https://www.kovi.com.br">Kovi (YC W19)</a></p>
        </div>
      </div>
    </div>
    <div class="testimonial">
      <p>&ldquo;Seed has made it possible for us to use Serverless at Shyft. Instead of spending time configuring environments and managing our workflows; we can focus on the business use case. It also gives us great control over our deployments and it has reduced our DevOps spend significantly.&rdquo;</p>
      <div class="person">
        <img src="/assets/lander/testimonials/daniel.jpeg" />
        <div class="info">
          <p>Daniel Chen</p>
          <p>CTO, <a target="_blank" href="https://myshyft.com">Shyft (Techstars 2016)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tutorial">
  <div class="tutorial-container">
    <div class="copy">
      <h3>New to Serverless?</h3>
      <p>We created <a href="https://serverless-stack.com" target="_blank">Serverless Stack</a> &mdash; a 1000+ page open source guide on building full-stack Serverless applications. With nearly 3500 daily readers, over 3000 GitHub stars, and available in multiple languages; it’s the most popular resource for learning how to build Serverless applications.</p>
      <a class="action" target="_blank" href="https://serverless-stack.com">
        View Guide
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </div>
    <div class="browser-container">
      <div class="browser">
       <div class="bar"> <span></span> <span></span> <span></span> </div>
       <img src="/assets/lander/serverless-stack-screenshot.png" />
      </div>
    </div>
  </div>
</div>

<div class="closing-action">

  <p>Add your <b>Serverless Framework project</b> to get started.</p>
  <div class="controls">
    <a class="plans" href="{% link pricing.html %}">
      View paid plans
    </a>
    <a class="signup" {% include signup-link.html %}>
      Sign up for free
    </a>
  </div>
  <div class="platforms">
    <div>
      <img title="Go" height="20" src="assets/go-logo.png" />
      <img title="Ruby" width="30" src="assets/ruby-logo.png" />
      <img title="Node.js" width="31" src="assets/node-logo.png" />
      <img title="Java" height="32" src="assets/java-logo.png" />
      <img title="Python" width="31" src="assets/python-logo.png" />
      <img title=".NET Core" width="32" src="assets/dotnet-logo.png" />
    </div>
  </div>
  <div class="divider">
    <div>
      <hr />
      <span>&amp;</span>
    </div>
  </div>
  <p class="updates">Stay up to date with product updates from Seed</p>
  <a class="button" href="{{ site.newsletter_signup_form }}" target="_blank">
    Subscribe to our newsletter
  </a>
  <br />
  <a class="button" href="{{ site.twitter }}">
    Follow us on Twitter
  </a>
</div>
