{% for item in site.data.doclist.toc %}
  {% if item.url %}

    {% assign class = "" %}

    {% if item.url == page.url %}
      {% assign class = "active" %}
    {% elsif item.url contains "/docs/serverless-errors/index.html" and page.url contains "/docs/serverless-errors" %}
      {% assign class = "active" %}
    {% endif %}

    <p class="{{ class }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
  {% else %}
    <p class="title">{{ item.title }}</p>
    <ul>
      {% for entry in item.subfolderitems %}
        <li class="{% if entry.url == page.url %}active{% endif %}"><a href="{{ entry.url }}">{{ entry.page }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

