<div class="post-closing">
  <hr />
  <div class="controls">
    <p>Help improve this page. <a target="_blank" href="{{ site.github_repo }}{{ site.github_edit_prefix }}{{ page.path }}">Edit it with GitHub <i class="fa fa-github" aria-hidden="true"></i></a></p>
    <p>Was this page helpful? <a target="_blank" href="https://twitter.com/intent/tweet?text=This%20page%20from%20@{{ site.twitter_username }}%20was%20really%20helpful!&url={{ site.url }}{{ page.url }}">Let us know via Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></p>
  </div>
</div>

<div class="post-cta">
  <p>Having trouble configuring a CI/CD pipeline for your Serverless apps? Let <a href="/">Seed</a> do it for you!</p>
  <a class="button" href="/">
    Learn More
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </a>
</div>

