<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="link-list">
          <li class="site-title">
            {{ site.title | escape }}
          </li>
          <li><a class="page-link" href="{{ site.console_url }}/login">Login</a></li>
          <li><a class="page-link" href="https://twitter.com/SEED_run" target="_blank">Twitter</a></li>
          <li><a class="email-link" href="mailto:{{ site.email }}">Contact us</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li class="site-description">Simplest way for teams to<br /> build and deploy Serverless apps</li>
          <li class="site-author">&copy; 2017 <a href="http://anoma.ly">Anomaly Innovations</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>

<script type="text/javascript">
var canAutoPlay = null;
var videos = Array.prototype.slice.call(document.getElementsByTagName("video")),
  didScroll = false,
  timer = null,
  fraction = 0.5;

function removeLoadingClass(el) {
  el.className = el.className.replace(/\bloading\b/,'');
}

function addButtonClass(el) {
  el.className = el.className + ' button';
}

function checkScroll() {
  didScroll = true;
  if (timer === null) {
    timer = window.setInterval(function() {
      if (!didScroll) {
        window.clearInterval(timer);
        timer = null;
        return;
      }
      checkVideos();
      didScroll = false;
    }, 100);
  }
}

function checkVideos() {
  var windowHeight  = window.innerHeight;
  var windowWidth   = window.innerWidth;

  videos.map(function(video) {
    var offset = video.getBoundingClientRect();

    var top    = offset.top;
    var left   = offset.left;
    var right  = offset.right;
    var width  = offset.width;
    var height = offset.height;
    var bottom = offset.bottom;

    var visibleX = right <= 0
      ? 0
      : left >= windowWidth
        ? 0
        : left <= 0
          ? Math.min(right, windowWidth)
          : Math.min(width, windowWidth - left);
    var visibleY = bottom <= 0
      ? 0
      : top >= windowHeight
        ? 0
        : top <= 0
          ? Math.min(bottom, windowHeight)
          : Math.min(height, windowHeight - top);

    var visible = visibleX * visibleY / (width * height);

    if (visible > fraction) {
      video.play();

      checkAutoPlay(video);
    } else {
      video.pause();
    }
  });
}

function checkAutoPlay(video) {
  // Script based on
  // https://gist.github.com/nathansearles/271870d4100f0f045c5c
  if (canAutoPlay === null) {
    canAutoPlay = 'checking';
    video.onplay = videoPlay(video);
    video.oncanplay = videoCanPlay(video);
  }
}

function videoPlay(el) {
  canAutoPlay = 'playing';
}

function videoCanPlay(el) {
  if (canAutoPlay === 'playing') {
    canAutoPlay = true;
  } else {
    videos.map(function(video) {
      var el = video.parentNode;

      removeLoadingClass(el);
      addButtonClass(el);
    });
  }
}

function videoCanPlayThrough(el) {
  removeLoadingClass(el.parentNode);
}

function videoClick(el) {
  if (el.paused) {
    el.play();
  } else {
    el.pause();
  }
}

function playClick(el) {
  var parent = el.parentNode;
  var els = parent.getElementsByTagName('video');

  if (els.length === 0) {
    return;
  } else {
    videoClick(els[0]);
    el.style.display = 'none';
  }
}

window.onload = function() {
  checkVideos();

  window.addEventListener("scroll", checkScroll, false);
  window.addEventListener("resize", checkScroll, false);
};
</script>

{% if jekyll.environment == 'production' %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/599caed0b6e907673de08e4d/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
{% endif %}

