<script type='text/javascript' src='http://www.youtube.com/iframe_api'></script>
<script type='text/javascript'>

  var player = null;
  var container = null;
  var playClicked = false;

  function removeLoadingClass(el) {
    el.className = el.className.replace(/\bloading\b/g,'');
  }

  function addLoadingClass(el) {
    el.className = el.className + ' loading';
  }

  function addDoneClass(el) {
    el.className = el.className + ' done';
  }

  function onYouTubeIframeAPIReady() {
    player = new YT.Player('ytPlayer', {
      events: {
        onReady       : onPlayerReady,
        onStateChange : onPlayerStateChange,
      }
    });
  }

  function onPlayerReady(a) {
    console.log('onPlayerReady');
    if (playClicked && player.getPlayerState() !== YT.PlayerState.PLAYING) {
      player.playVideo();
    }
  }

  function onPlayerStateChange(a) {
    if (player.getPlayerState() === YT.PlayerState.PLAYING) {
    console.log('onPlayerStateChange');
      removeLoadingClass(container);
      addDoneClass(container);
    }
  }

  window.onload = function() {
    container = document.getElementById('overlay');

    document.getElementById('button').onclick = function() {
      playClicked = true;
      addLoadingClass(container);

      if (player && player.getPlayerState() !== YT.PlayerState.PLAYING) {
        player.playVideo();
      }
    };
  };

</script>
