<header class="site-header page" role="banner">

  <div class="wrapper">

    <div class="site-header-col site-header-col-1">
      <a href="/">{{ site.title | escape }}</a>
    </div>

    <div class="site-header-col site-header-col-2">
      <a href="/#pricing">Pricing</a>
      <a href="{% link _docs/index.md %}">Docs</a>
      <a href="{% link about.md %}">About</a>
      <a href="{{ site.console_url }}{{ site.signup }}" class="signup">
        Create a Free Account
      </a>
      <a href="{{ site.console_url }}/login" class="login">Login</a>
    </div>

  </div>

</header>
