.post.build-error {
  margin: 0 auto;
  max-width: 900px;
}

/**
 * Header
 */
.post.build-error header a.breadcrumb {
  padding: 0 0 3px;
  display: inline-block;
}
.post.build-error header a.breadcrumb:after {
  padding-left: 4px;
  font-size: 16px;
  color: $grey-color-light;
  content: "/\00a0";
}
.post.build-error h1.post-title {
  font-size: 32px;
}
.post.build-error blockquote {
  padding: 5px $spacing-unit / 2 $spacing-unit / 2;
  text-align: left;
}
.post.build-error blockquote p:before,
.post.build-error blockquote p:after {
  content: none;
}
.post.build-error blockquote p {
  font-family: $code-font-family;
}

// Header Controls
.post.build-error .build-error-header-controls {
  margin-bottom: $spacing-unit - 5px;
  padding: 5px;
  display: flex;
  background-color: $divider-color;
  border-radius: 6px;
}
.post.build-error div.build-error-header-controls .panel {
  margin-right: 5px;
  flex: 1 1 auto;
  padding: 0 10px;
  border-radius: 3px 0 0 3px;
  background-color: $divider-color-light;
  text-align: center;
  font-size: 16px;
  color: $tertiary-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post.build-error div.build-error-header-controls .panel:nth-child(2) {
  border-radius: 0;
}
.post.build-error div.build-error-header-controls .panel:last-child {
  margin-right: 0;
  border-radius: 0 3px 3px 0;
}
.post.build-error div.build-error-header-controls .panel a {
  padding: 0 5px;
  display: block;
  height: 44px;

  @include media-query($on-palm) {
    padding: 0 7px;
  }
}
.post.build-error div.build-error-header-controls .panel i.fa {
  font-size: 22px;
  line-height: 44px;
}
.post.build-error div.build-error-header-controls .panel i.fa-envelope {
  font-size: 20px;
}
.post.build-error div.build-error-header-controls .panel span {
  padding-left: 5px;
  vertical-align: 2px;

  @include media-query($on-palm) {
    display: none;
  }
}

// Errors List
.post.build-error ul.build-error-list li {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}
.post.build-error ul.build-error-list li i {
  top: 6px;
  opacity: 0.8;
  font-size: 14px;
}

