---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:          Rubik, sans-serif;
$heading-font-family:       'Libre Baskerville', sans-serif;
$label-font-family:         'Exo 2', sans-serif;
$code-font-family:          'Source Pro', monospace;
$base-font-size:            16px;
$base-font-weight:          400;
$small-font-size:           $base-font-size * 0.875;
$base-line-height:          1.6;

$spacing-unit:              30px;

$text-color:                #2E2D33;
$secondary-text-color:      #5D5966;
$tertiary-text-color:  	    #908C99;
$background-color:          #F9F9FA;
$hero-bkg-color:            lighten(#C7C6CC, 10%);
$brand-color:               #53437D;
$accent-color:              #FD9527;
$link-color:                lighten($brand-color, 15%);

$grey-color-light:          #C7C6CC;

// Width of the content     area
$content-width:             1100px;

$on-palm:                   600px;
$on-laptop:                 800px;


// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "theme";

/**
 * Links
 */
a {
  color: $link-color;
}
a:visited {
  color: lighten($brand-color, 15%);
}
a:hover {
  color: lighten($brand-color, 35%);
}
a:active {
  color: lighten($brand-color, 5%);
}

::selection {
  background: lighten($accent-color, 20%);
}

@mixin logo-font {
  font-family: $base-font-family;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}

@mixin action-button {
  $bkg: $accent-color;
  $border: darken($bkg, 10%);

  color: white;
  margin: 0 $spacing-unit / 2;
  border: 2px solid $border;
  background-color: $bkg;
  border-radius: 3px;
  font-size: 26px;
  padding: 14px 26px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $label-font-family;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: darken($bkg, 5%);
  }

  &:active {
    border-color: darken($border, 15%);
    background-color: darken($bkg, 15%);
  }

  @include media-query($on-palm) {
    font-size: 22px;
    padding: 10px 22px;
  }
}

@mixin action-button-dark {
  $bkg: #A29FAA;

  display: inline-block;
  background-color: $bkg;
  border: 1px solid darken($bkg, 10%);
  border-radius: 3px;
  padding: 4px 11px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $label-font-family;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: darken($bkg, 5%);
  }

  &:active {
    border-color: darken($bkg, 30%);
    background-color: darken($bkg, 15%);
  }
}

main > .header {
  padding: 0 $spacing-unit / 2 3.5 * $spacing-unit;
  background-color: $hero-bkg-color;
  background-image:
    linear-gradient(to bottom, $background-color 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%),
    url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.07'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  text-align: center;

  @include media-query($on-palm) {
    padding-bottom: 2 * $spacing-unit;
  }

  h1 {
    margin: 0 auto 5px;
    padding-top: 3 * $spacing-unit;
    max-width: 620px;
    font-family: $base-font-family;
    font-size: 36px;
    line-height: 1.4;
    color: $text-color;

    @include media-query($on-palm) {
      padding-top: $spacing-unit;
      font-size: 26px;
    }
  }

  h3 {
    margin: 0 auto $spacing-unit;
    font-family: $base-font-family;
    color: $tertiary-text-color;
    font-size: 22px;
    max-width: 640px;

    @include media-query($on-palm) {
      font-size: 20px;
    }
  }

  div.controls {
    a.action {
      @include action-button;
    }
    a.demo {
      @include action-button-dark;
      padding: 14px 26px;

      @include media-query($on-palm) {
        font-size: 22px;
        padding: 10px 22px;
      }
    }
    a.action, a.demo {
      font-size: 18px;
    }

    @include media-query($on-palm) {
      a.demo {
        margin-bottom: $spacing-unit / 2;
      }
    }
  }
}

main > .hero {
  position: relative;
  padding-bottom: 2 * $spacing-unit;

  .background {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    div {
      left: 0;
      position: absolute;
      width: 100%;
      height: 50%;
    }
    div:first-child {
      top: 0;
      background-color: $hero-bkg-color;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.07'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    div:last-child {
      top: 50%;
      height: 50%;
      border-top: 2px solid darken($hero-bkg-color, 5%);
    }
  }

  .video {
    margin: 0 auto;
    width: 640px;
    height: 360px;
    box-shadow: 0px 10px 33px 9px rgba(0, 0, 0, 0.27);
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    @include media-query($on-palm) {
      width: 300px;
      height: 169px;
    }
  }
}

main > .pitch {
  padding-bottom: 2 * $spacing-unit;
  text-align: center;

  h4 {
    font-size: 24px;

    @include media-query($on-palm) {
      font-size: 22px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    margin: 0 auto $spacing-unit / 2 + 10px;
    font-size: 18px;
    max-width: 642px;
    padding: 0 $spacing-unit / 2;
    color: $secondary-text-color;

    @include media-query($on-palm) {
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  div.platforms {
    padding-top: $spacing-unit / 2;
    text-align: center;

    div {
      margin-top: 7px;
    }

    div i {
      margin: 0 8px;
      opacity: 0.4;
      font-size: 32px;
      vertical-align: middle;
    }

    div img {
      margin: 0 7px;
      opacity: 0.35;
      vertical-align: middle;
    }
  }
}

main > .features {
  padding: $spacing-unit * 2.5 $spacing-unit / 2 $spacing-unit * 3;
  border-top: 2px solid darken($hero-bkg-color, 5%);

  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    div.description {
      $size: 64px;
      margin-right: 4 * $spacing-unit;

      div.icon {
        margin-bottom: $spacing-unit - 10px;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: lighten($brand-color, 20%);
        text-align: center;

        i {
          color: white;
          font-size: 28px;
          line-height: $size;

          &.fa-code-fork {
            margin-left: 4px;
          }

          &.fa-tachometer {
            margin-top: -3px;
          }
        }
      }
      h2 {
        margin-bottom: 0;
        font-size: 32px;
      }
      p {
        max-width: 480px;
        color: $tertiary-text-color;
        line-height: 1.8;
      }

      ul {
        margin-left: 25px;

        li {
          padding-bottom: 13px;

          i {
            line-height: 1.3;
            color: $tertiary-text-color;
          }

          a {
            b {
              font-weight: 500;
              color: darken($link-color, 10%);
            }
            &:hover {
              b {
                color: lighten($link-color, 20%);
              }
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      @include media-query($on-palm) {
        margin-right: 0;
      }
    }

    .image {
      $color: #F6F6F6;
      border-radius: 4px;
      border: 6px solid #FDFDFE;
      background-color: $color;
      position: relative;
      overflow: hidden;
      box-shadow: 0 7px 14px rgba(50, 50, 93, .05), 0 3px 6px rgba(0, 0, 0, .08);

      @include media-query($on-palm) {
        margin-top: $spacing-unit;
      }
    }
  }

  .beta {
    $size: 120px;
    margin: $spacing-unit * 3 auto 0;
    max-width: 540px;
    background-color: #FDFDFE;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1), 0 5px 15px rgba(0, 0, 0, .07);
    position: relative;
    overflow: hidden;

    div.icon {
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: lighten($accent-color, 20%);
      text-align: center;
      position: absolute;
      top: 50%;
      margin-top: - $size / 2;
      left: -30px;

      i {
        color: white;
        font-size: 70px;
        line-height: $size;

        &.fa-code-fork {
          margin-left: 4px;
        }

        &.fa-tachometer {
          margin-top: -3px;
        }
      }
    }

    div.description {
      margin: 20px 10px 20px $size - 10px;
      position: relative;

      h4 {
        font-size: 18px;
        margin-bottom: 5px;
        font-family: $label-font-family;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      p {
        color: $secondary-text-color;
      }

      a {
        font-weight: 500;
      }
    }

    @include media-query($on-palm) {
      margin-top: 2 * $spacing-unit;
    }
  }

  hr {
    margin: $spacing-unit * 2.5 auto;
    max-width: 800px;
    border-color: darken($hero-bkg-color, 10%);

    @include media-query($on-palm) {
      margin: $spacing-unit * 2 auto;
    }
  }

  @include media-query($on-palm) {
    padding-top: 2 * $spacing-unit;
    padding-bottom: 2 * $spacing-unit;
  }
}

main > .testimonials {
  padding: $spacing-unit * 2 + 10px $spacing-unit / 2;
  border-top: 2px solid darken($hero-bkg-color, 5%);
  color: $background-color;
  background-color: darken($brand-color, 5%);
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23f9f9fa' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");

  @include media-query($on-palm) {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
  }

  h4 {
    margin-bottom: $spacing-unit * 1.5;
    text-align: center;
    font-size: 24px;
  }

  div.list {
  }

  div.testimonial {
    margin: 0 auto;
    max-width: 900px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    @include media-query($on-palm) {
      margin: 0 0 1.5 * $spacing-unit;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h6 {
      font-size: 16px;
      text-align: center;
      margin-bottom: 8px;
      font-family: $label-font-family;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: darken($background-color, 15%);
    }

    & > p {
      margin-bottom: 5px;
      line-height: 1.6;
      font-size: 24px;
      text-align: center;
      color: $background-color;

      @include media-query($on-palm) {
        margin-bottom: 5px;
        font-size: 20px;
      }
    }

    & > div:last-child {
      text-align: center;

      p:first-child {
        margin-bottom: 2px;
        font-weight: 500;
        font-size: 16px;
      }
      p:last-child {
        margin-bottom: 0;
        font-size: 14px;
        a {
          color: $background-color;
        }
      }
    }

    &:last-child {
      margin-top: $spacing-unit * 2;
    }
  }
}

main > .pricing {
  padding: $spacing-unit * 2 + 10px 0;
  border-top: 2px solid darken($hero-bkg-color, 5%);

  @include media-query($on-palm) {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
  }

  h4 {
    margin-bottom: $spacing-unit * 1.5;
    text-align: center;
    font-size: 24px;
  }

  .free-callout {
    margin: 0 auto 2 * $spacing-unit;
    max-width: 440px;
    text-align: center;

    p:first-child {
      font-size: 20px;
      color: $secondary-text-color;
    }

    ul {
      margin: 0;
      padding-bottom: $spacing-unit;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      border-bottom: 1px solid darken($hero-bkg-color, 5%);

      li {
        margin-left: $spacing-unit;
        color: $tertiary-text-color;
      }
    }

    a.action {
      @include action-button;
      margin: $spacing-unit auto 0;
    }
  }

  .table {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    & > div {
      margin: 0 $spacing-unit / 2 1.5 * $spacing-unit;
      max-width: 250px;

      &.premium .cost {
        border-color: $accent-color;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.21);

        .header {
          border-color: $accent-color;
        }
        .numbers p:first-child {
          font-weight: 500;
        }
      }

      .cost {
        border: 2px solid $grey-color-light;
        border-radius: 3px;
        height: 340px;

        .header {
          padding: 25px 0;
          margin-bottom: 0;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 2px;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.1;
          border-bottom: 1px solid $grey-color-light;
        }

        .numbers {
          text-align: center;
          padding-top: $spacing-unit * 1.5;

          p:first-child {
            font-size: 60px;
          }

          p:nth-child(2) {
            color: $tertiary-text-color;
            font-size: 14px;
          }
        }
      }

      ul {
        padding-top: $spacing-unit;
        font-size: 15px;
        color: $secondary-text-color;

        li {
          padding-bottom: 10px;

          i {
            line-height: 1.3;
          }

          span {
            padding: 3px 6px;
            border-radius: 3px;
            background-color: $tertiary-text-color;
            color: white;
            text-transform: uppercase;
            font-size: 10px;
            font-family: $label-font-family;
            line-height: 1;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }

    @include media-query($on-palm) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      & > div {
        margin-left: 0;
        margin-right: 0;
        width: 250px;
      }
    }

    @include media-query($on-macbook) {
      margin: 0 auto;
      max-width: 800px;
    }
  }

  .contact {
    text-align: center;

    div.controls {
      a.action {
        @include action-button;
      }
      a.demo {
        @include action-button-dark;
        padding: 14px 26px;

        @include media-query($on-palm) {
          font-size: 22px;
          padding: 10px 22px;
        }
      }
      a.action, a.demo {
        font-size: 18px;
      }

      @include media-query($on-palm) {
        a.demo {
          margin-bottom: $spacing-unit / 2;
        }
      }
    }
    p {
      font-size: 22px;
      color: $tertiary-text-color;
    }
  }

  .extra {
    margin: $spacing-unit auto 0;
    padding-top: $spacing-unit / 2;
    max-width: 560px;
    text-align: center;
    border-top: 1px solid darken($hero-bkg-color, 5%);

    p {
      margin-bottom: 0;
      padding: 0 $spacing-unit / 2;
      color: $tertiary-text-color;
      font-size: 14px;
    }

    .action {
      @include action-button;
      margin: $spacing-unit 0 0;
    }
  }
}

main > .closing {
  border-top: 2px solid darken($hero-bkg-color, 5%);
  padding: $spacing-unit * 2 + 10px 0 $spacing-unit * 3;
  text-align: center;

  @include media-query($on-palm) {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
  }

  .about {
    margin-bottom: 5px;
    font-size: 20px;
    font-family: $heading-font-family;
    padding: 0 $spacing-unit / 2;
    a {
      font-weight: bold;
    }
    span {
      @include logo-font;
    }
  }

  .more {
    margin-bottom: 0;
    font-size: 18px;
  }

  .action {
    @include action-button;
  }

  .divider {
    margin-top: $spacing-unit - 10px;
    margin-bottom: $spacing-unit - 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $spacing-unit / 2;
    max-width: 340px;

    div {
    position: relative;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    }
    hr {
      margin: 0;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
    }

    span {
      color: $grey-color-light;
      padding: 0 7px;
      background-color: $background-color;
      display: inline-block;
      position: relative;
    }
  }

  .updates {
    padding: 0 $spacing-unit / 2;
    color: $tertiary-text-color;
  }

  .button {
    margin-bottom: $spacing-unit / 2 - 4px;
    @include action-button-dark;
    font-family: $base-font-family;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notfound {
  text-align: center;
  padding: 100px $spacing-unit / 2 100px;
  font-size: 18px;
}

main > .wrapper > .about {

  .header {
    margin: 0 auto;
    max-width: 570px;
    text-align: center;

    h1 {
      padding-top: $spacing-unit;
      font-size: 40px;
    }
    p {
      font-size: 20px;
      color: $secondary-text-color;
    }

    @include media-query($on-palm) {
      h1 {
        padding-top: $spacing-unit / 2;
        font-size: 34px;
      }
    }
  }

  hr {
    margin: $spacing-unit * 3 auto;
    max-width: 400px;
    border-color: darken($hero-bkg-color, 10%);

    @include media-query($on-palm) {
      margin: $spacing-unit * 1.5 auto;
    }
  }

  .team {
    margin: 0 auto;
    max-width: 720px;
    text-align: center;

    h3 {
      font-size: 24px;
    }

    p {
      color: $secondary-text-color;
      font-size: 17px;
      a {
        font-weight: 500;
      }
    }
  }

  .investors {
    margin: 0 auto;
    text-align: center;
    max-width: 720px;

    h3 {
      font-size: 24px;
    }

    p {
      margin-bottom: $spacing-unit + 5px;
      color: $secondary-text-color;
      font-size: 17px;
      a {
        font-weight: 500;
      }
    }

    .logos {
      a {
        display: inline-block;
      }
      a:first-child {
        margin-right: $spacing-unit;
        img {
          margin-top: 35px;
        }
      }

      @include media-query($on-palm) {
        a {
          display: block;
        }
        a:first-child {
          margin-right: 0;
          margin-bottom: $spacing-unit / 2;
          img {
            margin-top: 0;
          }
        }
      }
    }
  }

  .press {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;

    h3 {
      font-size: 24px;
    }
    img {
      margin-bottom: $spacing-unit / 2;
    }
    p {
      font-size: 17px;
    }
  }

  .info {
    margin-bottom: $spacing-unit * 3;
    text-align: center;
    p {
      margin-bottom: 10px;
      color: $tertiary-text-color;
      font-size: 22px;
      a {
        color: $tertiary-text-color;
      }
    }
    @include media-query($on-palm) {
      margin-bottom: $spacing-unit * 2;
    }
  }

}
