---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:          Rubik, sans-serif;
$heading-font-family:       'Libre Baskerville', sans-serif;
$code-font-family:          'Source Pro', monospace;
$base-font-size:            16px;
$base-font-weight:          400;
$small-font-size:           $base-font-size * 0.875;
$base-line-height:          1.6;

$spacing-unit:              30px;

$text-color:                #2E2D33;
$secondary-text-color:      #5D5966;
$tertiary-text-color:  	    #908C99;
$background-color:          #F9F9FA;
$hero-bkg-color:            lighten(#C7C6CC, 10%);
$brand-color:               #53437D;
$accent-color:              #FD9527;

$grey-color-light:          #C7C6CC;

// Width of the content     area
$content-width:             800px;

$on-palm:                   600px;
$on-laptop:                 800px;


// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "theme";

/**
 * Links
 */
a {
  color: lighten($brand-color, 15%);
}
a:visited {
  color: lighten($brand-color, 15%);
}
a:hover {
  color: lighten($brand-color, 35%);
}
a:active {
  color: lighten($brand-color, 5%);
}

@mixin logo-font {
  font-family: $base-font-family;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}

@mixin action-button {
  $bkg: $accent-color;
  $border: darken($bkg, 10%);

  color: white;
  border: 2px solid $border;
  background-color: $bkg;
  border-radius: 3px;
  font-size: 26px;
  padding: 14px 26px;
  display: inline-block;

  &:hover {
    color: white;
    background-color: darken($bkg, 5%);
  }

  &:active {
    border-color: darken($border, 15%);
    background-color: darken($bkg, 15%);
  }

  @include media-query($on-palm) {
    font-size: 22px;
    padding: 10px 22px;
  }
}

.header {
  background: linear-gradient(to bottom, $background-color 0%, $hero-bkg-color 90%, $hero-bkg-color 100%);
  padding-bottom: 2 * $spacing-unit;
  text-align: center;

  h1 {
    margin-bottom: 0;

    a {
      @include logo-font;
      line-height: 1.2;
      font-size: 48px;
      letter-spacing: -2px;
      color: $brand-color;

      @include media-query($on-palm) {
        font-size: 40px;
      }
    }
  }

  h4 {
    margin-bottom: $spacing-unit;
    font-family: $base-font-family;
    font-size: 22px;
    color: $secondary-text-color;

    @include media-query($on-palm) {
      font-size: 18px;
    }
  }

  a.action {
    @include action-button;
  }
}

.hero {
  padding: 0 $spacing-unit / 2 $spacing-unit * 2;
  background-color: $hero-bkg-color;
  & > div {
    margin: 0 auto;
    max-width: 540px;
    box-shadow: 0px 10px 33px 9px rgba(0, 0, 0, 0.27);
    border-radius: 4px;
    overflow: hidden;

    @include media-query($on-palm) {
      border-radius: 4px 4px 0 0;
    }

    & > div {
      width: 100%;
      height: 54.9%;
      background: linear-gradient(0deg, #F6F6F6 0%, #F6F6F6 100%);
      height: 30px;
      border-top: 1px solid #ECEBEC;
      border-bottom: 1px solid #ECEBEC;
      border-radius: 4px 4px 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include media-query($on-palm) {
        height: 20px;
      }

      span {
        $size: 12px;
        width: $size;
        height: $size;
        border-radius: $size / 2;
        $color: #DDD;
        background-color: $color;
        border: 1px solid darken($color, 5%);
        margin-right: 8px;
        display: block;
        box-sizing: border-box;

        @include media-query($on-palm) {
          $size: 8px;
          width: $size;
          height: $size;
          border-radius: $size / 2;
          margin-right: 6px;
        }

        &:first-child {
          margin-left: 10px;
        }
      }
    }
    video {
      width: 100%;
      height: 54.9%;
      display: block;
      border-radius: 0 0 4px 4px;

      @include media-query($on-palm) {
        width: 102%;
        position: relative;
        left: -1px;
        border-radius: 0;
      }
    }
  }
}

.pitch {
  border-top: 2px solid darken($hero-bkg-color, 5%);
  padding: $spacing-unit * 2 0;
  text-align: center;

  h4 {
    font-size: 24px;

    @include media-query($on-palm) {
      font-size: 22px;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-unit / 2 + 10px;
    font-size: 18px;
    max-width: 642px;
    padding: 0 $spacing-unit / 2;

    @include media-query($on-palm) {
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.flow {
  border-top: 2px solid darken($hero-bkg-color, 5%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-query($on-palm) {
    align-items: flex-end;
  }

  .line {
    $width: 6px;
    z-index: 2;
    top: 0;
    left: 50%;
    margin-left: - $width / 2;
    position: absolute;
    width: $width;
    height: 100%;
    background-color: darken($background-color, 5%);

    @include media-query($on-palm) {
      left: auto;
      margin-left: auto;
      right: 80px - $width / 2;
    }
  }

  .section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding-right: 200px + $spacing-unit / 2;

    @include media-query($on-palm) {
      padding-right: 50px;
    }

    .disc {
      $size: 60px;
      box-size: border-box;
      width: $size;
      height: $size;
      border-radius: $size / 2;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background-color;

      i {
        font-size: 40px;
        color: $tertiary-text-color;
      }
    }

    .action {
      width: 200px;
      margin-right: $spacing-unit / 2;
      text-align: right;
      color: $secondary-text-color;

      @include media-query($on-palm) {
        width: 120px;
      }
    }

    &.github {
      margin-top: 2 * $spacing-unit;
    }

    &.tests {
      margin-top: 2 * $spacing-unit;
      i {
        color: $brand-color;
      }
    }

    &.package {
      margin-top: 1 * $spacing-unit;
      i {
        color: $brand-color;
      }
    }

    &.dev {
      margin-top: 2 * $spacing-unit;
    }

    &.production {
      margin-top: 1 * $spacing-unit;
      margin-bottom: 2 * $spacing-unit;
    }
  }

  .divider {
    margin: 2 * $spacing-unit auto 0;
    border-top: 2px dotted darken($background-color, 10%);
    width: 600px;
    height: 2px;
    position: relative;
    z-index: 1;

    @include media-query($on-palm) {
      width: 100%;
    }

    div {
      font-size: 12px;
      color: $tertiary-text-color;

      @include media-query($on-palm) {
        padding-left: 4px;
      }

      &.logo {
        @include logo-font;
      }
    }
  }
}

.features-intro {
  padding: $spacing-unit * 2 0;
  border-top: 2px solid darken($hero-bkg-color, 5%);
  text-align: center;

  .action {
    @include action-button;
  }

  p {
    color: $tertiary-text-color;
    margin-top: $spacing-unit;
    font-size: 14px;
  }
  .caret {
    color: $tertiary-text-color;
    margin-bottom: 0;
  }
}

.features {
  padding: $spacing-unit * 2 $spacing-unit / 2 $spacing-unit * 2 + 10px;
  border-top: 2px solid darken($hero-bkg-color, 5%);
  background-color: $hero-bkg-color;

  .feature {
    text-align: center;
    h2 {
      font-size: 32px;
    }
    p {
      margin: 0 auto;
      max-width: 480px;
      color: $secondary-text-color;
      padding: 0 $spacing-unit / 2;
    }
    .video {
      $color: #F6F6F6;
      margin: $spacing-unit / 2 auto 0;
      max-width: 500px;
      border: 8px solid $color;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.21);
      border-radius: 4px;
      background-color: $color;
      overflow: hidden;
      video {
        display: block;
        width: 100%;

        @include media-query($on-palm) {
          width: 102%;
          position: relative;
          left: -1px;
        }
      }
    }
  }

  hr {
    margin: $spacing-unit * 2 + 3px auto $spacing-unit + 10px;
    max-width: 400px;
    border-color: darken($hero-bkg-color, 10%);
  }
}

.pricing {
  padding-top: $spacing-unit * 2 + 10px;
  padding-bottom: $spacing-unit * 2 + 10px;
  border-top: 2px solid darken($hero-bkg-color, 5%);

  h4 {
    margin-bottom: $spacing-unit;
    text-align: center;
    font-size: 24px;
  }
  .table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 348px;
    height: 304px;
    background: transparent url('/assets/pricing-table.png') no-repeat;
    background-size: cover;

    @include media-query($on-palm) {
      width: 300px;
      height: 262px;
    }

    span {
      background-color: #908C99;
      color: white;
      padding: 6px 12px;
      border-radius: 3px;
      box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.15);
    }
  }
}

.faq {
  padding-top: $spacing-unit * 2 + 10px;
  border-top: 2px solid darken($hero-bkg-color, 5%);

  h4 {
    margin-bottom: $spacing-unit;
    text-align: center;
    font-size: 24px;
    padding: 0 $spacing-unit / 2;
  }
  ul {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 $spacing-unit / 2;
    li {
      margin-left: $spacing-unit / 2;
    }
  }
  & > p {
    margin-top: $spacing-unit;
    padding: 0 $spacing-unit / 2;
    text-align: center;
  }
}

.closing {
  border-top: 2px solid darken($hero-bkg-color, 5%);
  padding-top: $spacing-unit * 2 + 10px;
  margin: $spacing-unit * 3 0 $spacing-unit * 2;
  text-align: center;

  p {
    margin-bottom: $spacing-unit;
    font-size: 20px;
    font-family: $heading-font-family;
    padding: 0 $spacing-unit / 2;
    a {
      font-weight: bold;
    }
    span {
      @include logo-font;
    }
  }

  .action {
    @include action-button;
  }
}

.notfound {
  text-align: center;
  padding: 100px $spacing-unit / 2 100px;
  font-size: 18px;
}
