---
layout: default
---
<div class="docs-wrapper build-errors">

  <div class="sidebar">
    {% include docs-sidebar.html %}
  </div>

  <article class="post">

    <header class="post-header">
      <a class="breadcrumb" href="{% link _docs/serverless-errors/index.md %}">Common Serverless Errors</a>
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
      {{ content }}
    </div>

    <div class="post-closing">
      <hr />
      <p>If you have any questions or feedback feel free to <a href="mailto:{{ site.email }}">contact us via email</a>.</p>
    </div>

    <div class="post-cta">
      <p>If you are having troubles configuring your CI/CD pipeline for Serverless Framework; let <a href="/">Seed</a> do it for you!</p>
      <a class="button" href="/">
        Learn More
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>

  </article>

</div>
