---
layout: default
---

<article class="blog post">

  <header class="post-header">
    {% if page.id %}
      <p class="breadcrumb">
        {% assign category_name = page.categories[0] %}
        {% assign category = site.data.categories[category_name] %}
        <a href="{% link blog/index.md %}">Blog</a>
        <a href="{{ site.baseurl }}/blog/{{ category_name }}">{{ category.title }}</a>
      </p>
      <h1 class="post-title post">
        <a href="{{ page.url }}">{{ page.title | escape }}</a>
      </h1>
    {% elsif page.listed_category %}
      <p class="breadcrumb">
        {% assign category_name = page.listed_category %}
        {% assign category = site.data.categories[category_name] %}
        <a href="{% link blog/index.md %}">Blog</a>
      </p>
      <h1 class="post-title post">
        <a href="{{ site.baseurl }}/blog/{{ page.listed_category }}">
          {{ page.title | escape }}
        </a>
      </h1>
    {% else %}
      <h1 class="post-title">
        <a href="{{ page.url }}">{{ page.title | escape }}</a>
      </h1>
    {% endif %}

    <div class="post-info">
      {% if page.id %}
        <a class="twitter" href="https://twitter.com/intent/tweet?via={{ site.twitter_username }}&text={{ page.title }}&url={{ page.url | absolute_url }}&related={{ site.twitter_username }}" target="_blank" title="Tweet">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Share on Twitter
        </a>
        <span class="separator">&nbsp;&bull;&nbsp;</span>
        <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
      {% else %}
        <a class="twitter" href="{{ site.twitter }}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Follow us on Twitter
        </a>
      {% endif %}
    </div>

    {% if page.id %}
      <a href="https://www.linkedin.com/in/{{ site.data.authors[page.author].linkedin }}/">
        <img
          width="48"
          class="post-author"
          title="{{ site.data.authors[page.author].name }}"
          src="{{ site.data.authors[page.author].picture }}"
        />
      </a>
    {% endif %}

    {% if page.id or page.listed_category %}
    {% else %}
    <!-- Categories list -->
    <div class="categories">
      {% for object in site.data.categories %}
        {% assign category_name = object[0] %}
        {% assign category = site.data.categories[category_name] %}
        <a href="/blog/{{ category_name }}" class="category {{ category_name }}">
          <div class="icon">
            <i class="fa fa-{{ category.icon }}" aria-hidden="true"></i>
          </div>
          <h4>{{ category.title }}</h4>
          <p>{{ category.description }}</p>
          <p class="footer">
            View all posts <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </p>
        </a>
      {% endfor %}
    </div>
    {% endif %}
  
  </header>

  <div class="post-content">

    {{ content }}

    {% if page.tweet %}
    <div class="twitter-share">
      <span>If you liked this post, please show some love to it on Twitter.</span>
      <a href="{{ page.tweet }}">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Share the love
      </a>
    </div>
    {% endif %}

  </div>

  <div class="post-closing">
    <hr />
  </div>

</article>

{% if page.id %}
<div class="blog post-cta">
  {% include post-cta.html %}
</div>
{% endif %}

{% if page.id %}
<div class="blog related-posts">
  <h5>Recent Posts</h5>
  <ul class="post-list">
    {% for post in site.related_posts limit:4 %}
      <li>
        <h3>
          <a
            href="https://www.linkedin.com/in/{{ site.data.authors[post.author].linkedin }}/"
          >
            <img
              width="36"
              class="bullet"
              title="{{ site.data.authors[post.author].name }}"
              src="{{ site.data.authors[post.author].picture }}"
            />
          </a>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <div class="post-info">
          <a href="{{ post.url }}">
            View post
          </a>
          <span class="separator">&nbsp;&bull;&nbsp;</span>
          <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
