---
layout: default
---

<article class="blog post">

  <header class="post-header">
    <h1 class="post-title">
      {% if page.id %}
        <a href="{% link blog/index.md %}">Blog</a>
        <span class="separator">/</span>
        <a href="{{ page.url }}">{{ page.title | escape }}</a>
      {% else %}
        <a href="{{ page.url }}">{{ page.title | escape }}</a>
      {% endif %}
    </h1>

    <div class="post-info">
      {% if page.id %}
        <a class="twitter" href="https://twitter.com/intent/tweet?via={{ site.twitter_username }}&text={{ page.title }}&url={{ page.url | absolute_url }}&related={{ site.twitter_username }}" target="_blank" title="Tweet">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Share on Twitter
        </a>
        <span class="separator">&nbsp;&bull;&nbsp;</span>
        <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
      {% else %}
        <a class="twitter" href="{{ site.twitter }}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Follow us on Twitter
        </a>
      {% endif %}
    </div>

    {% if page.id %}
      <a href="https://www.linkedin.com/in/{{ site.data.authors[page.author].linkedin }}/">
        <img
          width="48"
          class="post-author"
          title="{{ site.data.authors[page.author].name }}"
          src="{{ site.data.authors[page.author].picture }}"
        />
      </a>
    {% endif %}
  
  </header>

  <div class="post-content">
    {{ content }}
    {% if page.id %}
      <p>Feel free to <a href="mailto:{{ site.email }}">contact us</a> if you have any questions.</p>
    {% endif %}
  </div>

</article>

{% if page.id %}
<div class="blog post-cta">
  {% include post-cta.html %}
</div>
{% endif %}

{% if page.id %}
<div class="blog related-posts">
  <h5>Recent Updates</h5>
  <ul class="post-list">
    {% for post in site.related_posts limit:4 %}
      <li>
        <h3>
          <a
            href="https://www.linkedin.com/in/{{ site.data.authors[post.author].linkedin }}/"
          >
            <img
              width="36"
              class="bullet"
              title="{{ site.data.authors[post.author].name }}"
              src="{{ site.data.authors[post.author].picture }}"
            />
          </a>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <div class="post-info">
          <a href="{{ post.url }}">
            View post
          </a>
          <span class="separator">&nbsp;&bull;&nbsp;</span>
          <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
